* {
    box-sizing: border-box;
    transition: all 0.2s linear
}

html {
    font-size: 62.5%;
}

body {
    font-family: Tahoma, Arial, sans-serif
}

.site_container {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,.3);
    background-color: rgba(0,0,0,.4);
    min-height: 625px;
    padding-bottom: 12rem
}

input,input:focus,input:active {
    outline: none
}


::-webkit-input-placeholder {
    font-size: 1rem;
    font-style: italic;
    color: white;
}
  ::-moz-placeholder {
    font-size: 1rem;
    font-style: italic;
    color: white;
  }
  :-ms-input-placeholder {
    font-size: 1rem;
    font-style: italic;
    color: white;
  }
  :-moz-placeholder {
    font-size: 1rem;
    font-style: italic;
    color: white;
  }



button,button:active,button:focus {
    outline: none
}